body {
  font-family: sans-serif;
  margin: 20px;
}

form, ul, h2, div {
  margin-top: 20px;
}

input, select, button {
  padding: 5px;
  margin: 5px;
}

li {
  list-style: none;
  margin-bottom: 10px;
}
